body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  text-align: center;
}

#updates {
  display: block;
  margin: 0 auto;
  height: 500px;
  max-width: 1000px;
  background: #f8f9fa;
  padding: 0 10px;
  border: 1px solid #e9ecef;
  overflow-y: scroll;
}

#message {
  font-size: 12px;
  
}
