<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Alexa Soccer Skill</title>
  <link href="static/normalize.css" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
</head>
<body>
  <h1>Alexa Soccer</h1>
  <div id="updates">
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="static/main.js"></script>
</body>
</html>
